@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-light: var(--color-gray-100);
  --color-dark: var(--color-gray-950);

  --color-accent-light: var(--color-gray-200);
  --color-accent-dark: var(--color-gray-900);

  --color-text: light-dark(var(--color-dark), var(--color-light));
  --color-bg: light-dark(var(--color-light), var(--color-dark));

  --color-accent: light-dark(
    var(--color-accent-light),
    var(--color-accent-dark)
  );
  --color-primary: light-dark(var(--color-gray-400), var(--color-gray-800));
}

html,
body {
  min-height: 100vh;
  @apply bg-radial-[at_50%_75%] from-accent/30 to-bg;
  color-scheme: dark;

  /* @media (prefers-color-scheme: dark) {
  } */
}

@layer base {
  button, a[data-button] {
    @apply flex items-center rounded-md px-6 py-3 bg-accent cursor-pointer;
  }

  input,
  textarea,
  select,
  .p-dropdown {
    @apply p-2 border border-primary rounded-md resize-y;
  }

  .p-dropdown-items {
    @apply rounded-md border shadow-lg border-primary bg-bg;
  }

  .p-dropdown-item {
    @apply p-2 hover:bg-primary;
  }

  .p-tabview {
    @apply flex-1 flex flex-col;
  }

  .p-tabview-nav {
    @apply flex *:flex;
  }

  .p-tabview-nav-link {
    @apply py-3 px-6 whitespace-nowrap cursor-pointer;
  }

  .p-tabview-selected {
    @apply text-blue-800 border-b-2 border-blue-800;
  }

  .p-tabview-panels {
    @apply flex-1 *:h-full *:pt-4;
  }
}

@utility bg-grid {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, color-mix(in oklch, var(--color-gray-900) 50%, transparent) 1px, transparent 1px),
    linear-gradient(to bottom, color-mix(in oklch, var(--color-gray-900) 50%, transparent) 1px, transparent 1px);
}